.index {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-container {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
  .search #search_query {
    width: 500px;
  }
}
.image-container {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  margin-bottom: 10px;
  .image-block {
    margin-top: 10px;
  }
  .image-info {
    height: 60px;
    text-align: center;
    margin-top: 10px;
    border: 2px solid #a8fffc;
    border-radius: 5px;
    padding: 10px;
    color: #5a5d60;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    .info {
      display: inline-block;
      float: left;
    }
    .user {
      display: inline-block;
      img {
        border-radius: 50%;
      }
    }
    .download {
      display: inline-block;
      float: right;
    }
  }
}